
* {	box-sizing: border-box;
  font-family: consolas;
}

.container {
  width:100%;
  height: 1080px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url('./Photos/easy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gameContainer {
  width: 1130px;
  height: 530px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  position: relative;
}

.gameParameters {
  width: 250px;
  height: 530px;
  background-color: rgb(163, 177, 84);
  border-radius: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.nameContainer {
  width: 250px;
  height: 75px;
  font-size: 25px;
  margin: 0px 0px 5px;
  position: relative
}

.nameContainer p {
  margin: 5px 0px 0px;
}

.nameContainer span {
  opacity: 0;
  font-size: 12px;
  position: absolute;
  bottom: -8px;
  left: 70px;
}

.nameContainerSpan {
  font-size: 12px;
  background-color: red;
  color: white;
  position: absolute;
  bottom: -8px;
  left: 70px;
  border-radius: 5px;
  animation-name: maxCharacters;
  animation-duration: 3s;
}

@keyframes maxCharacters {
  0%{opacity: 1;}
  80%{opacity: 1;}
  100% {opacity: 0;}
}

#name {
  font-size: 15px;
  text-align: center;
  font-family: consolas;
  border-radius: 5px;
}

.timeContainer {
  width: 250px;
  height: 75px;
  font-size: 25px;
  margin: 0px 0px;
}

.timeContainer p {
  margin: 0px;
}

#time {
  width: 70px;
  font-size: 18px;
  border-radius: 5px;
}

.rangeContainer {
  width: 250px;
  height: 100px;
  font-size: 25px;
  margin: 0px 0px 5px;
  position: relative;
}

.rangeContainer p {
  margin: 5px 0px 2px;
}

.rangeContainer span {
  font-size: 17px;
  position: absolute;
  right: 140px;
}

#rangeMin {
  width: 80px;
  position: absolute;
  top:35px;
  right: 35px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

#rangeMax{
  width: 80px;
  position: absolute;
  top:65px;
  right: 35px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

.operationsContainer {
  width: 250px;
  height: 170px;
  position: relative;
  text-align: right;
  margin: 0px;
}

.operationsContainer p {
  text-align: center;
  font-size: 25px;
  margin: 5px 0px 2px;
}

.operationsContainer input[type="checkbox"] {
  position: absolute;
  left: 40px;
}

.operationsContainer span {
  margin-right: 40px;
}

.exponentRange {
  margin-top: 7px;
  text-align: left;
  padding-left: 40px;
  position: relative;  
}

#exponentRangeMin {
  width: 40px;
  position: absolute;
  right: 90px;
  text-align: center;
}

#dash {
  position: absolute;
  right: 36px;
}

#exponentRangeMax {
  width: 40px;
  position: absolute;
  right: 30px;
  text-align: center;
}

.levelContainer {
  width: 250px;
  height: 130px;
  position: relative;
  text-align: right;
  margin: 0px;
}

.levelContainer p {
  text-align: center;
  font-size: 25px;
  margin: 5px 0px 2px;
}

.levelContainer input{
  position: absolute;
  left: 40px;
}

.levelContainer span {
  margin-right: 40px;
}


.playGameContainer {
  width: 550px;
  height: 530px;
  background:  rgb(163, 177, 84);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.playGameHeader {
  width: 550px;
  height: 80px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.timer {
  width: 183.3px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 5px;
}

.answerStatus {
  width: 183.3px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 5px;
  border-radius: 10px;
  opacity: 1;
}

.correctAnswer {
  width: 183.3px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 5px;
  border-radius: 10px;
  opacity: 0;
  background: green;
  animation-name: correct;
  animation-duration: 1s;
}

@keyframes correct {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.wrongAnswer {
  width: 183.3px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 5px;
  border-radius: 10px;
  opacity: 0;
  background: red;
  animation-name: wrong;
  animation-duration: 1s;
}

@keyframes wrong {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.score {
  width: 183.3px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 5px;
}

.tasksContainer {
  margin-top: 10px;
  width: 550px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  width: 450px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
}

.firstNumber {
  width: 170px;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.operator {
  width: 70px;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.secondNumber {
  width: 170px;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.answersContainer {
  margin-top: 30px;
  width: 550px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answersContainer button {
  height: 90px;
  width: 100px;
  margin: 0px 15px;
  font-size: 25px;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.playGameFooter {
  width: 550px;
  height: 100px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playGameFooter button {
  margin-top: 20px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.message {
  width: 510px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(163, 177, 84);
  position: absolute;
  right: 310px;
  top: 90px;
  border-radius: 20px;
  font-size: 30px;
}

.message p {
  font-size: 40px;
  margin-bottom: 10px;
}

.gameRankingContainer {
  width: 250px;
  height: 530px;
  background-color: rgb(163, 177, 84);
  border-radius: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: center;
  position: relative;
}

.gameRankingHeader {
  margin: 0px;
  width: 250px;
  height: 115px;
  text-align: right;
}

.gameRankingHeader p {
  font-size: 25px;
  margin: 10px 0px;
  text-align: center;
}

.gameRankingHeader span {
  font-size: 18px;
  margin-right: 95px;
}

.gameRankingHeader select{
  width: 70px;
  margin-right: 65px;
}

.gameRankingBody {
  width: 250px;
  height: 380px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.rankingCard {
  box-sizing: border-box;
  width: 200px;
  height: 22px;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankingCardRank{
  height:22px;
  width: 35px;
  text-align: center;
}

.rankingCardName{
  height: 22px;
  width: 130px;
  text-align: center;
}

.rankingCardScore{
  height: 22px;
  width: 35px;
  text-align: center;
}

.rankingCard p {
  margin: 0px;
}

.gameRankingFooter{
  width:250px;
  height: 35px;
}

.gameRankingFooter button {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.infoContainer{
  width: 550;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 5px 10px;
}

.infoContainer span {
  cursor: pointer;
  font-size: 19px;
}

.info{
width: 550px;
 height: 530px;
 position: absolute;
 left:290px;
 top: -600px;
 overflow: hidden;
}

.showInfo{
  text-align: left;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  position: absolute;
  left: 290px;
  top: -600px;
  background-color: rgb(163, 177, 84);
  overflow: auto;
  animation-name: showInfo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.showInfo span{
  font-size: 30px;
  color: purple;
  position: absolute;
  right: 7px;
}

.showInfo h2{
  font-size: 30px;
  text-align: center;
  text-decoration-line: underline;
}

.showInfo p{
  font-size: 20px;
  margin-left: 15px;
  text-decoration-line: underline;
}

.showInfo li{
  font-size: 16px;
  margin-left: 15px;
}

@keyframes showInfo{
  0%{ top: -600px}
  100%{ top: 0px; width: 550px; height: 530px;}
}

.hideInfo{
  text-align: left;
  z-index: 1;
  width: 550px;
  height: 530px;
  border-radius: 20px;
  position: absolute;
  left: 290px;
  top: -600px;
  background-color: rgb(163, 177, 84);
  overflow: auto;
  animation-name: hideInfo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideInfo{
  0%{ top: 0px}
  100%{ top: -600px; width: 0px; height: 0px}
}

