#centralSection {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @include flexAlignment(column, flex-start, center);
    
    #weatherOverviewContainer {
        width: 100%;
        height: 320px;
        position: relative;
        top: 0px;
        transition: 0.8s;
        @include flexAlignment(row, center, flex-start);
        flex-wrap: wrap;
        #temperatureDataContainer {
            width: 100%;
            height: 80px;
            position: relative;
            margin: 20px 0px;
            @include flexAlignment(row, center, flex-end);
            span {
                margin-left: 10px;
                font: $unitsFont; 
            }
            #currentTemperature {
                position: relative;
                bottom: -17.5px;
                font-size: 70px;
                font-weight: 400;
            }
            #currentTemperatureDecimal {
                position: relative;
                bottom: -12.5px;
                font-size: 50px;
                font-weight: 400;
            }
            #feelsLike {
                position: relative;
                bottom: -4px;
                margin-left: 10px; 
                font-size: 30px;
                font-weight: 400;
            }
            #feelsLikeDecimal {
                font-size: 20px;
                font-weight: 400;
            }
        }
        .weatherDetailsContainer {
            width: 49%;
            height: 80px;
            font-size: 22px;
            position: relative;
            @include flexAlignment(row, flex-start, center);
            span {
                margin-left: 5px;
                font: $unitsFont; 
            }
            select {
                width: 65px;
                height: 35px;
                margin-left: 8px; 
                padding: 6px 0px 0px 3px;
                border: none;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.4);
                color: $primaryFontColor;
                font: $unitsFont; 
                @include flexAlignment(column, center, center);
                &:focus {
                    outline: none;
                }
                &:hover {
                    cursor: pointer;
                }
                option {
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
            .weatherDetailsImageContainer {
                width: 50%;
                height: 100%;
                margin-right: 30px;
                @include flexAlignment(column, center, center);
                img {
                    margin-left: 60%;
                }
                p {
                    margin: 0px;
                    font-size: 12px;
                    margin-left: 60%;
                }
            }
        }
    }
    #weatherChartContainer {
        width: 85%;
        height: 300px;
        position: relative;
        top: 0px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: transparent;
        transition: 0.8s;
        #weatherChart {
            width: 100%;
            height: 300px;
            position: relative;
        }
    }
    #threeHoursWeatherContainer {
        width: 88%;
        height: 30px;
        margin-top: 10px;
        position: relative;
        top: 0px;
        transition: 0.8s;
        button {
            width: 9.5%;
            height: 30px;
            margin: 0px 1.5% 0px;
            border: none;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.4); 
            color: $primaryFontColor;
            font-family: $primaryFontFamily;
            font-weight: bold;
            transition: 0.2s;
            &:hover{
                @include hover(1.1);
            }
            &:focus{
                outline: none;
            }
            &:nth-of-type(8){
                margin-right: 0px;
            }
        }
    }
}



@media (max-width: 1000px){
    #centralSection {
        width: 100%;
        height: auto;
        #weatherOverviewContainer {
            height: auto;
            #temperatureDataContainer {
                margin-top: 0px;
                height: auto;
                span {
                    font-size: 5vw;
                }
                #currentTemperature {
                    font-size: 11vw;
                    position: unset;
                }
                #currentTemperatureDecimal {
                    font-size: 9vw;
                    position: unset;
                }
                #feelsLike {
                    font-size: 9vw;
                    position: unset;
                }
                #feelsLikeDecimal {
                    font-size: 7vw;
                    position: unset;
                }
            }
            .weatherDetailsContainer {
                width: 95%;
                height: auto;
                margin-bottom: 15px;
                font-size: 5vw;
                span {
                    font-size: 5vw; 
                }
                img {
                    width: 30%;
                }
                &:nth-of-type(3){
                    img {
                        width: 20%;
                    }
                }
                &:nth-of-type(4){
                    img {
                        width: 25%;
                    }
                }
                &:nth-of-type(5){
                    img {
                        width: 15%;
                        height: 40px;
                    }
                }
                .weatherDetailsImageContainer {
                    img {
                        margin-left: 40%;
                    }
                    p {
                        margin-left: 40%;
                    }
                }
            }
        }
        #weatherChartContainer {
            width: 100%;
            height: 250px;
            padding: 0px 5px;
            margin: 20px 0px;
            #weatherChart {
                margin: 0px;
            }
        }
        #threeHoursWeatherContainer {
            display: none;
        }
    } 
}