#citySearchContainer{
    width: 500px;
    position: absolute;
    top: 280px;
    right: 50%;
    transition: 
        top 1s,
        right 1s,
        transform 1s;
    transform: translate(50%) scale(1.3);
    z-index: 2;
    input {
        width: 100%;
        height: 50px;
        padding-left: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        font-family: $primaryFontFamily;
        font-size: 19px;
        font-weight: bold;
        &:focus {
            outline: none;
        }
    }
    #citySearchResults {
        width: 98%;
        position: absolute;
        left: 1%;
        top: 52px;
        color: $citySearchPrimaryFontColor;
        font-weight: bold;
        @include flexAlignment(column, center, center);
        div {
            width: 95%;
            height: 40px;
            margin: 0px;
            border-bottom: 2px solid gray;
            text-align: center;
            @include flexAlignment(column, center, center);
            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
                color: $primaryFontColor;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1000px) {
    #citySearchContainer {
        width: 96%;
        position: absolute;
        top: 280px;
        left: 2%;
        right: unset;
        margin: 0px;
        transform: translate(0%) scale(1);
        input {
            width: 100%; 
        } 
        #citySearchResults {
            width: 95%;
            left: 2.5%;
            div {
                height: 50px; 
            }
        }
    }
}