$primaryFontColor: white;

$citySearchPrimaryFontColor: #102227;

$primaryFontFamily: 'Cinzel', serif;

$unitsFont: 20px 'Satisfy', cursive;
$descriptionsFont: italic normal 22px 'Cormorant Garamond', serif;

@mixin flexAlignment($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin hover($scale) {
    cursor: pointer;
    transform: scale($scale)
}