#leftSection {
    width: 20%;
    height: inherit;
    position: relative;
    overflow: hidden;
    @include flexAlignment(column, flex-start, center);
    #meinWeatherStatusContainer {
        width: 100%;
        height: 40%;
        position: relative;
        left: 0px;
        transition: 0.8s;
        @include flexAlignment(column, flex-start, center);
        #meinWeatherStatusImageContainer {
            width: 100%;
            height: 65%;
            @include flexAlignment(column, center, center);
            img{
                width: 50%;
                margin-top: 50px;
            }
        }
        #meinWeatherStatusDescriptionContainer {
            width: 100%;
            height: 35%;
            text-align: center;
            @include flexAlignment(column, center, center);
            #mainWeatherStatus {
                font-size: 30px;
            }
            #mainWeatherDescription {
                font-size: 15px;
            }
        }
    }
    #weatherLocationContainer {
        width: 100%;
        height: 40%;
        position: relative;
        left: 0px;
        padding: 25px 0px 0px 30px;
        transition: 0.8s;
        p {
            margin: 5px;
        }
        #city {
            font-size: 32px;
        }
        #country, #date {
            font-size: 18px;
        }
        #time {
            font-size: 40px;
        }
    }
    #sunDataContainer {
        width: 100%;
        height: 20%;
        position: relative;
        left: 0px;
        overflow: hidden;
        transition: 0.8s;
        @include flexAlignment(row, flex-start, center);
        .sunData {
            height: 100%;
            width: 50%;
            padding-top: 30px;
            position: relative;
            @include flexAlignment(column, flex-start, center);
            img {
                width: 80px;
                position: absolute;
                bottom: 0px;
            } 
        }
    }
}

@media (max-width: 1000px) {
    #leftSection {
        width: 100%;
        height: auto;
        #meinWeatherStatusContainer {
            height: 150px;
            margin-top: 15px;
            @include flexAlignment(row, flex-start, center);
            #meinWeatherStatusImageContainer {
                width: 50%;
                height: inherit;
                img {
                    width: 70%;
                    margin-top: 5px;
                }
            }
            #meinWeatherStatusDescriptionContainer {
                width: 50%;
                height: inherit;
            } 
        }
        #weatherLocationContainer {
            height: auto;
            margin-bottom: 25px;
        }
        #sunDataContainer {
            height: 100px;
            .sunData {
                height: inherit;
                padding: 0px;
                @include flexAlignment(row, center, center);
                p {
                    margin-bottom: 30px;
                }
                img {
                    width: 60px;
                    top: 13px;
                } 
                &:nth-of-type(1) {
                    img {
                        transform: rotate(90deg);
                        left: -10px;
                    }
                    p {
                        margin-left: 10px;
                    }
                }
                &:nth-of-type(2) {
                    img {
                        transform: rotate(-90deg);
                        right: -9px;
                    }
                    p {
                        margin-right: 10px;  
                    }
                }
            }
        }
    }
}