#rightSection {
    width: 20%;
    height: inherit;
    @include flexAlignment(column, center, center);
    .dailyWeatherSelectionContainer {
        width: 90%;
        height: 120px;
        margin: 15px;
        border-radius: 10px;
        transition: 0.2s;
        @include flexAlignment(row, flex-start, center);
        &:hover {
            @include hover(1.05)
        }
        .dailyWeatherSelectionImageContainer {
            width: 40%;
            height:inherit;
            @include flexAlignment(row, flex-end, center);
            img{
                width: 70px;
            }
        }
        .dailyWeatherSelectionDataContainer {
            width: 60%;
            height: inherit;
            @include flexAlignment(column, center, center);
            h2 {
                margin: 0px;
                font-weight: 400;
            }
            p {
                margin: 0px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1000px) {
    #rightSection {
        width: 100%;
        height: auto;
        @include flexAlignment(row, center, flex-start);
        flex-wrap: wrap;
        .dailyWeatherSelectionContainer {
            @include flexAlignment(column, flex-start, center);
            width: 40%;
            height: auto;
            .dailyWeatherSelectionImageContainer {
                height: 50px;
                justify-content: center;
                img{
                    width: 50px;
                    margin-top: 5px;
                }
            }
            .dailyWeatherSelectionDataContainer {
                height: auto;
                margin-top: 20px;
                h2 {
                    font-size: 4.5vw;
                }
                p {
                    font-size: 3.5vw;
                    margin-bottom: 10px;
                }
            }
        }
    }
}