#settings {
    width: 55px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: 0.2s;
    transform-origin: bottom;
    @include flexAlignment(column, center, center);
    img{
        width: 60%;
    }
    &:hover{
        @include hover(1.1);
    }
}

#settingsMenuContainer {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 100%;
    z-index: 2;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    transition: 0.8s;
    overflow: hidden;
    @include flexAlignment(column, flex-start, flex-start);
    h2 {
        margin: 10px 0px 10px 15px;
    }
    #settingsUnitsSelect, #settingsTimeZoneSelect {
        width: 100%;
        height: auto;
        font-size: 17px;
        @include flexAlignment(column, flex-start, flex-start);
        span {
            position: absolute;
            right: 20px;
            font-size: 20px;
        }
        p {
            width: 100%;
            padding: 5px 0px 5px 30px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                color: black;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    #closeSettingsMenu, #displaySettingsInfo, #hideSettingsInfo {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        transition: 0.2s;
        &:hover{
            @include hover(1.1)
        }
    } 
    #closeSettingsMenu {
        bottom: 10px;
        z-index: 2;
    }
    #displaySettingsInfo {
        bottom: 65px;
        transition: right 0.8s, transform 0.2s;
    }
    #hideSettingsInfo {
        bottom: 65px;
    }
    #settingsMenuInfoContainer {
        width: 100%;
        height: 55%;
        position: absolute;
        left: -100%;
        bottom: 0px;
        padding: 0px 40px;
        text-align: justify;
        font: $descriptionsFont;
        transition: 0.8s;
        span{
            font-family: $primaryFontFamily;
            font-size: 20px;
            font-weight: bold;
            margin-left: -20px;
        }
    }
}

@media (max-width: 1000px) {
    #settingsMenuContainer {
        width: 100%;
        height: 600px;
        border-bottom: 2px solid lightgray;
        border-radius: 0px;
        #settingsMenuInfoContainer {
            padding: 20px 70px 10px 40px;
            font-size: 17px;
            span{
                font-size: 17px;
            }
        }
    }
}