@import "./settings";
@import "./weatherAlerts";
@import "./leftSection";
@import "./centralSection";
@import "./rightSection";

#weatherDataContainer {
    width: 90%;
    height: 700px;
    margin-top: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: 
        transform 2s;
    transform: scale(0);
    @include flexAlignment(row, flex-start, center);
}

#navigationContainer {
    width: 30%;
    height: 60px;
    position: absolute;
    top: 130px;
    left: 6%;
    background-color: transparent;
    @include flexAlignment(row, flex-start, flex-start);
    border-radius: 20px;
    transition: 
        transform 1s;
    transform: scale(0);
    transform-origin: left;
}

@media (max-width: 1000px) {
    #weatherDataContainer {
        margin-top: 260px;
        height: auto;
        @include flexAlignment(column, flex-start, center);
    }
    #navigationContainer {
        width: 80%;
        top: 200px;
        left: 8%;
    }
}