#weatherAlerts {
    width: 150px;
    height: 55px;
    position: relative;
    margin: 0px 5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: 0.2s;
    transform-origin: bottom;
    &:hover {
        @include hover(1.1)
    }
    #weatherAlertsTitle {
        width: 105px;
        height: inherit;
        @include flexAlignment(column, center, center);
    }
    #numberOfAlerts {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 10px;
        right: 10px; 
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        font-weight: bold;
        @include flexAlignment(column, center, center);
    }
}

#weatherAlertsContainer {
    width: 60%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 20%;
    padding: 70px 0px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.8s;
    z-index: 2;
    #weatherAlertsContentContainer {
        width: 100%;
        height: 610px;
        padding: 5px 50px;
        background-color: transparent;
        text-align: justify;
        overflow-y: auto;
        @include flexAlignment(column, center, center);
        h2 {
            font-size: 21px;
            font-style: italic;
            display: inline-block;
            margin: 10px 0px 10px -20px;
        }
        span {
            font: $descriptionsFont;
            margin: 0px 0px 0px 20px;
        }
        p {
            margin: -20px 0px 30px;
            font-size: 25px;
        }
        button {
            width: 200px;
            height: 40px;
            border: 1px solid gray;
            background-color: rgba(0, 0, 0, 0.4);
            font-family: $primaryFontFamily;
            color: $primaryFontColor;
            font-size: 24px;
            transition: 0.2s;
            &:hover {
                @include hover(1.05)
            }
        }
    }
    #hideWeatherAlerts {
        width: 50px;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 2;
        transition: transform 0.2s;
        &:hover {
            @include hover(1.1)
        }
    }
}

@media (max-width: 1000px) {
    #weatherAlertsContainer {
        width: 100%;
        height: 600px;
        top: 0px;
        left: 100%;
        padding: 60px 0px 20px;
        border-bottom: 2px solid lightgray;
        #weatherAlertsContentContainer {
            height: 510px;
            padding: 0px 20px 0px 30px;
            h2 {
                font-size: 18px;
                margin: 5px 0px 5px -20px;
            }
            span {
                font-size: 16px;
            }
            p {
                font-size: 20px;
            }
        }
        #hideWeatherAlerts {
            width: 40px;
        }
    }
}