#citySearchContainer {
  width: 500px;
  position: absolute;
  top: 280px;
  right: 50%;
  -webkit-transition: top 1s, right 1s, -webkit-transform 1s;
  transition: top 1s, right 1s, -webkit-transform 1s;
  transition: top 1s, right 1s, transform 1s;
  transition: top 1s, right 1s, transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(50%) scale(1.3);
          transform: translate(50%) scale(1.3);
  z-index: 2;
}

#citySearchContainer input {
  width: 100%;
  height: 50px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Cinzel", serif;
  font-size: 19px;
  font-weight: bold;
}

#citySearchContainer input:focus {
  outline: none;
}

#citySearchContainer #citySearchResults {
  width: 98%;
  position: absolute;
  left: 1%;
  top: 52px;
  color: #102227;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#citySearchContainer #citySearchResults div {
  width: 95%;
  height: 40px;
  margin: 0px;
  border-bottom: 2px solid gray;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#citySearchContainer #citySearchResults div:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
}

@media (max-width: 1000px) {
  #citySearchContainer {
    width: 96%;
    position: absolute;
    top: 280px;
    left: 2%;
    right: unset;
    margin: 0px;
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1);
  }
  #citySearchContainer input {
    width: 100%;
  }
  #citySearchContainer #citySearchResults {
    width: 95%;
    left: 2.5%;
  }
  #citySearchContainer #citySearchResults div {
    height: 50px;
  }
}

#settings {
  width: 55px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settings img {
  width: 60%;
}

#settings:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#settingsMenuContainer {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 100%;
  z-index: 2;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#settingsMenuContainer h2 {
  margin: 10px 0px 10px 15px;
}

#settingsMenuContainer #settingsUnitsSelect, #settingsMenuContainer #settingsTimeZoneSelect {
  width: 100%;
  height: auto;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#settingsMenuContainer #settingsUnitsSelect span, #settingsMenuContainer #settingsTimeZoneSelect span {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

#settingsMenuContainer #settingsUnitsSelect p, #settingsMenuContainer #settingsTimeZoneSelect p {
  width: 100%;
  padding: 5px 0px 5px 30px;
}

#settingsMenuContainer #settingsUnitsSelect p:hover, #settingsMenuContainer #settingsTimeZoneSelect p:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#settingsMenuContainer #closeSettingsMenu, #settingsMenuContainer #displaySettingsInfo, #settingsMenuContainer #hideSettingsInfo {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#settingsMenuContainer #closeSettingsMenu:hover, #settingsMenuContainer #displaySettingsInfo:hover, #settingsMenuContainer #hideSettingsInfo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#settingsMenuContainer #closeSettingsMenu {
  bottom: 10px;
  z-index: 2;
}

#settingsMenuContainer #displaySettingsInfo {
  bottom: 65px;
  -webkit-transition: right 0.8s, -webkit-transform 0.2s;
  transition: right 0.8s, -webkit-transform 0.2s;
  transition: right 0.8s, transform 0.2s;
  transition: right 0.8s, transform 0.2s, -webkit-transform 0.2s;
}

#settingsMenuContainer #hideSettingsInfo {
  bottom: 65px;
}

#settingsMenuContainer #settingsMenuInfoContainer {
  width: 100%;
  height: 55%;
  position: absolute;
  left: -100%;
  bottom: 0px;
  padding: 0px 40px;
  text-align: justify;
  font: italic normal 22px "Cormorant Garamond", serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#settingsMenuContainer #settingsMenuInfoContainer span {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: -20px;
}

@media (max-width: 1000px) {
  #settingsMenuContainer {
    width: 100%;
    height: 600px;
    border-bottom: 2px solid lightgray;
    border-radius: 0px;
  }
  #settingsMenuContainer #settingsMenuInfoContainer {
    padding: 20px 70px 10px 40px;
    font-size: 17px;
  }
  #settingsMenuContainer #settingsMenuInfoContainer span {
    font-size: 17px;
  }
}

#weatherAlerts {
  width: 150px;
  height: 55px;
  position: relative;
  margin: 0px 5%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#weatherAlerts:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#weatherAlerts #weatherAlertsTitle {
  width: 105px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weatherAlerts #numberOfAlerts {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weatherAlertsContainer {
  width: 60%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 20%;
  padding: 70px 0px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 2;
}

#weatherAlertsContainer #weatherAlertsContentContainer {
  width: 100%;
  height: 610px;
  padding: 5px 50px;
  background-color: transparent;
  text-align: justify;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weatherAlertsContainer #weatherAlertsContentContainer h2 {
  font-size: 21px;
  font-style: italic;
  display: inline-block;
  margin: 10px 0px 10px -20px;
}

#weatherAlertsContainer #weatherAlertsContentContainer span {
  font: italic normal 22px "Cormorant Garamond", serif;
  margin: 0px 0px 0px 20px;
}

#weatherAlertsContainer #weatherAlertsContentContainer p {
  margin: -20px 0px 30px;
  font-size: 25px;
}

#weatherAlertsContainer #weatherAlertsContentContainer button {
  width: 200px;
  height: 40px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Cinzel", serif;
  color: white;
  font-size: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#weatherAlertsContainer #weatherAlertsContentContainer button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#weatherAlertsContainer #hideWeatherAlerts {
  width: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#weatherAlertsContainer #hideWeatherAlerts:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1000px) {
  #weatherAlertsContainer {
    width: 100%;
    height: 600px;
    top: 0px;
    left: 100%;
    padding: 60px 0px 20px;
    border-bottom: 2px solid lightgray;
  }
  #weatherAlertsContainer #weatherAlertsContentContainer {
    height: 510px;
    padding: 0px 20px 0px 30px;
  }
  #weatherAlertsContainer #weatherAlertsContentContainer h2 {
    font-size: 18px;
    margin: 5px 0px 5px -20px;
  }
  #weatherAlertsContainer #weatherAlertsContentContainer span {
    font-size: 16px;
  }
  #weatherAlertsContainer #weatherAlertsContentContainer p {
    font-size: 20px;
  }
  #weatherAlertsContainer #hideWeatherAlerts {
    width: 40px;
  }
}

#leftSection {
  width: 20%;
  height: inherit;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #meinWeatherStatusContainer {
  width: 100%;
  height: 40%;
  position: relative;
  left: 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #meinWeatherStatusContainer #meinWeatherStatusImageContainer {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #meinWeatherStatusContainer #meinWeatherStatusImageContainer img {
  width: 50%;
  margin-top: 50px;
}

#leftSection #meinWeatherStatusContainer #meinWeatherStatusDescriptionContainer {
  width: 100%;
  height: 35%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #meinWeatherStatusContainer #meinWeatherStatusDescriptionContainer #mainWeatherStatus {
  font-size: 30px;
}

#leftSection #meinWeatherStatusContainer #meinWeatherStatusDescriptionContainer #mainWeatherDescription {
  font-size: 15px;
}

#leftSection #weatherLocationContainer {
  width: 100%;
  height: 40%;
  position: relative;
  left: 0px;
  padding: 25px 0px 0px 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#leftSection #weatherLocationContainer p {
  margin: 5px;
}

#leftSection #weatherLocationContainer #city {
  font-size: 32px;
}

#leftSection #weatherLocationContainer #country, #leftSection #weatherLocationContainer #date {
  font-size: 18px;
}

#leftSection #weatherLocationContainer #time {
  font-size: 40px;
}

#leftSection #sunDataContainer {
  width: 100%;
  height: 20%;
  position: relative;
  left: 0px;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #sunDataContainer .sunData {
  height: 100%;
  width: 50%;
  padding-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftSection #sunDataContainer .sunData img {
  width: 80px;
  position: absolute;
  bottom: 0px;
}

@media (max-width: 1000px) {
  #leftSection {
    width: 100%;
    height: auto;
  }
  #leftSection #meinWeatherStatusContainer {
    height: 150px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #leftSection #meinWeatherStatusContainer #meinWeatherStatusImageContainer {
    width: 50%;
    height: inherit;
  }
  #leftSection #meinWeatherStatusContainer #meinWeatherStatusImageContainer img {
    width: 70%;
    margin-top: 5px;
  }
  #leftSection #meinWeatherStatusContainer #meinWeatherStatusDescriptionContainer {
    width: 50%;
    height: inherit;
  }
  #leftSection #weatherLocationContainer {
    height: auto;
    margin-bottom: 25px;
  }
  #leftSection #sunDataContainer {
    height: 100px;
  }
  #leftSection #sunDataContainer .sunData {
    height: inherit;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #leftSection #sunDataContainer .sunData p {
    margin-bottom: 30px;
  }
  #leftSection #sunDataContainer .sunData img {
    width: 60px;
    top: 13px;
  }
  #leftSection #sunDataContainer .sunData:nth-of-type(1) img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -10px;
  }
  #leftSection #sunDataContainer .sunData:nth-of-type(1) p {
    margin-left: 10px;
  }
  #leftSection #sunDataContainer .sunData:nth-of-type(2) img {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: -9px;
  }
  #leftSection #sunDataContainer .sunData:nth-of-type(2) p {
    margin-right: 10px;
  }
}

#centralSection {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#centralSection #weatherOverviewContainer {
  width: 100%;
  height: 320px;
  position: relative;
  top: 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer {
  width: 100%;
  height: 80px;
  position: relative;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer span {
  margin-left: 10px;
  font: 20px "Satisfy", cursive;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer #currentTemperature {
  position: relative;
  bottom: -17.5px;
  font-size: 70px;
  font-weight: 400;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer #currentTemperatureDecimal {
  position: relative;
  bottom: -12.5px;
  font-size: 50px;
  font-weight: 400;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer #feelsLike {
  position: relative;
  bottom: -4px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

#centralSection #weatherOverviewContainer #temperatureDataContainer #feelsLikeDecimal {
  font-size: 20px;
  font-weight: 400;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer {
  width: 49%;
  height: 80px;
  font-size: 22px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer span {
  margin-left: 5px;
  font: 20px "Satisfy", cursive;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer select {
  width: 65px;
  height: 35px;
  margin-left: 8px;
  padding: 6px 0px 0px 3px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font: 20px "Satisfy", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer select:focus {
  outline: none;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer select:hover {
  cursor: pointer;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer select option {
  background-color: rgba(0, 0, 0, 0.7);
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer .weatherDetailsImageContainer {
  width: 50%;
  height: 100%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer .weatherDetailsImageContainer img {
  margin-left: 60%;
}

#centralSection #weatherOverviewContainer .weatherDetailsContainer .weatherDetailsImageContainer p {
  margin: 0px;
  font-size: 12px;
  margin-left: 60%;
}

#centralSection #weatherChartContainer {
  width: 85%;
  height: 300px;
  position: relative;
  top: 0px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#centralSection #weatherChartContainer #weatherChart {
  width: 100%;
  height: 300px;
  position: relative;
}

#centralSection #threeHoursWeatherContainer {
  width: 88%;
  height: 30px;
  margin-top: 10px;
  position: relative;
  top: 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#centralSection #threeHoursWeatherContainer button {
  width: 9.5%;
  height: 30px;
  margin: 0px 1.5% 0px;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Cinzel", serif;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#centralSection #threeHoursWeatherContainer button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#centralSection #threeHoursWeatherContainer button:focus {
  outline: none;
}

#centralSection #threeHoursWeatherContainer button:nth-of-type(8) {
  margin-right: 0px;
}

@media (max-width: 1000px) {
  #centralSection {
    width: 100%;
    height: auto;
  }
  #centralSection #weatherOverviewContainer {
    height: auto;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer {
    margin-top: 0px;
    height: auto;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer span {
    font-size: 5vw;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer #currentTemperature {
    font-size: 11vw;
    position: unset;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer #currentTemperatureDecimal {
    font-size: 9vw;
    position: unset;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer #feelsLike {
    font-size: 9vw;
    position: unset;
  }
  #centralSection #weatherOverviewContainer #temperatureDataContainer #feelsLikeDecimal {
    font-size: 7vw;
    position: unset;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer {
    width: 95%;
    height: auto;
    margin-bottom: 15px;
    font-size: 5vw;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer span {
    font-size: 5vw;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer img {
    width: 30%;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer:nth-of-type(3) img {
    width: 20%;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer:nth-of-type(4) img {
    width: 25%;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer:nth-of-type(5) img {
    width: 15%;
    height: 40px;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer .weatherDetailsImageContainer img {
    margin-left: 40%;
  }
  #centralSection #weatherOverviewContainer .weatherDetailsContainer .weatherDetailsImageContainer p {
    margin-left: 40%;
  }
  #centralSection #weatherChartContainer {
    width: 100%;
    height: 250px;
    padding: 0px 5px;
    margin: 20px 0px;
  }
  #centralSection #weatherChartContainer #weatherChart {
    margin: 0px;
  }
  #centralSection #threeHoursWeatherContainer {
    display: none;
  }
}

#rightSection {
  width: 20%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSection .dailyWeatherSelectionContainer {
  width: 90%;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSection .dailyWeatherSelectionContainer:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionImageContainer {
  width: 40%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionImageContainer img {
  width: 70px;
}

#rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer {
  width: 60%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer h2 {
  margin: 0px;
  font-weight: 400;
}

#rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer p {
  margin: 0px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  #rightSection {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #rightSection .dailyWeatherSelectionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    height: auto;
  }
  #rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionImageContainer {
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionImageContainer img {
    width: 50px;
    margin-top: 5px;
  }
  #rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer {
    height: auto;
    margin-top: 20px;
  }
  #rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer h2 {
    font-size: 4.5vw;
  }
  #rightSection .dailyWeatherSelectionContainer .dailyWeatherSelectionDataContainer p {
    font-size: 3.5vw;
    margin-bottom: 10px;
  }
}

#weatherDataContainer {
  width: 90%;
  height: 700px;
  margin-top: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigationContainer {
  width: 30%;
  height: 60px;
  position: absolute;
  top: 130px;
  left: 6%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (max-width: 1000px) {
  #weatherDataContainer {
    margin-top: 260px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigationContainer {
    width: 80%;
    top: 200px;
    left: 8%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("../Images/weather.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Cinzel", serif;
  color: white;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body h1 {
  position: absolute;
  top: 80px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0px;
  font-size: 40px;
}

p {
  margin: 0px;
}

hr {
  margin: 30px 0px 40px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #weatherDataContainer {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
  }
  #citySearchResults {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .dailyWeatherSelectionContainer {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .warning {
    display: none;
  }
}

@media (max-width: 1000px) {
  body {
    width: 100%;
  }
  body::before {
    height: auto;
  }
  body h1 {
    font-size: 25px;
    top: 50px;
  }
  hr {
    margin: 20px 0px 20px;
  }
}
/*# sourceMappingURL=style.css.map */