@import "./config";

@import "./citySearchContainer";
@import "./weatherDataContainer";

* { 
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("../Images/weather.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $primaryFontFamily;
    color: $primaryFontColor;
    margin: 0px;
    @include flexAlignment(column, center, center);
    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(255, 255, 255, 0.3);
    // }
    h1 {
      position: absolute;
      top: 80px;
      color: rgba(0, 0, 0, 0.7);
      margin: 0px;
      font-size: 40px;
    }
}

p {
    margin: 0px;
}

hr {
    margin: 30px 0px 40px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #weatherDataContainer {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);  
  }
  #citySearchResults {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);  
    }
  .dailyWeatherSelectionContainer {
    background-color: rgba(0, 0, 0, 0.4); 
    }
  .warning {
    display: none;
  }
}

@media (max-width: 1000px) {
  body {
    width: 100%;
    &::before {
      height: auto;
    }
    h1 {
      font-size: 25px;
      top: 50px;
    }
  }
  hr {
    margin: 20px 0px 20px;
  }
}