* {	box-sizing: border-box;
    font-family: consolas;

}
body {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:white;
    background-image: url('./Photos/easy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

#gameContainer {
    width: 840px;
    height: 530px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    position: relative;
  }

#gameParameters {
    width: 250px;
    height: 530px;
    background-color: rgb(163, 177, 84);
    border-radius: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
}

#timeContainer {
    width: 250px;
    height: 75px;
    font-size: 25px;
    margin: 5px 0px;
}

#timeContainer p {
    margin: 10px 0px 3px;
}

#time {
    width: 70px;
    font-size: 18px;
    margin-top: -25px;
    border-radius: 10px;
}

#rangeContainer {
    width: 250px;
    height: 110px;
    font-size: 25px;
    margin: 10px;
    position: relative;
}

#rangeContainer p {
    margin: 0px;
    margin-bottom: 10px;
}

#rangeContainer label {
    font-size: 20px;
    position: absolute;
    right: 140px;
}

#rangeMin {
    width: 80px;
    position: absolute;
    top:35px;
    right: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}

#rangeMax{
    width: 80px;
    position: absolute;
    top:65px;
    right: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}

#operationsContainer {
    width: 250px;
    height: 160px;
    position: relative;
    text-align: right;
}

#operationsContainer p {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}

#operationsContainer input {
    position: absolute;
    left: 40px;
}

#operationsContainer span {
    margin-right: 40px;
}

#exponentRange{
    width: 250px;
    margin-top: -10px;
    text-align: left;
    padding-left: 40px;
    position: relative; 
    display: none;
}

#exponentRangeMin {
    width: 40px;
    position: absolute;
    right: 90px;
    text-align: center;
  }
  
  #dash {
    position: absolute;
    right: 75px;
  }
  
  #exponentRangeMax {
    width: 40px;
    position: absolute;
    right: 30px;
    text-align: center;
  }


#levelContainer {
    width: 250px;
    height: 130px;
    position: absolute;
    bottom: 20px;
    text-align: right;
}

#levelContainer p {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 5px;
}

#levelContainer input{
    position: absolute;
    left: 40px;
}

#levelContainer span {
    margin-right: 40px;
}

#playGameContainer {
    width: 550px;
    height: 530px;
    background:  rgb(163, 177, 84);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}

#playGameHeader {
    width: 550px;
    height: 80px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#timer {
    width: 183.3px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
}

#answerStatus {
    width: 183.3px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
    border-radius: 10px;
    opacity: 0;
}

.correctAnswer {
    background: green;
    animation-name: correct;
    animation-duration: 1s;
}

@keyframes correct {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.wrongAnswer {
    background: red;
    animation-name: wrong;
    animation-duration: 1s;
}

@keyframes wrong {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#score {
    width: 183.3px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
}

#tasksContainer {
    margin-top: 10px;
    width: 550px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task {
    width: 450px;
    height: 200px;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
}

#firstNumber {
    width: 170px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-weight: bold;
}

#operator {
    width: 70px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.notSelected {
    font-size: 20px;
    text-align: center;
}

#secondNumber {
    width: 170px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-weight: bold;
}

#answersContainer {
    margin-top: 30px;
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#answersContainer button {
    height: 90px;
    width: 100px;
    margin: 0px 15px;
    font-size: 25px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

#playGameFooter {
    width: 550px;
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playGameFooter button {
    margin-top: 10px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.gameOver {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message {
    width: 510px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(163, 177, 84);
    position: absolute;
    left: 20px;
    top: 90px;
    border-radius: 20px;
    font-size: 30px;
    z-index: -1;
    opacity: 0;
}

#renderInfo {
    margin: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#infoContainer {
    width: 840px;
    height: 540px;
    background: rgb(163, 177, 84);
    position: absolute;
    top: -550px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#info{
    width: 840px;
    height: 480px;
    background: rgb(163, 177, 84);
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

#infoFirstSection {
    text-align: left;
    padding: -5px 10px;
    width: 420px;
    height: 480px;
    border-radius: 20px;
    background: rgb(163, 177, 84);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#info p {
    margin-left: 15px;
    text-decoration-line: underline;
  }
  
#info li{
    margin-left: 15px;
  }

#infoSecondSection {
    text-align: left;
    padding: 0px 10px;
    width: 420px;
    height: 480px;
    border-radius: 20px;
    background: rgb(163, 177, 84);
    position: absolute;
    bottom: 0px;
    right:0px;
}


.showInfo {
    animation-name: showInfo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showInfo {
    0%{top: -550px}
    100%{top: 50px}
}

#closeInfo {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    color: indigo;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

.hideInfo {
    animation-name: hideInfo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hideInfo {
    0%{top: 50px}
    100%{top: -550px}
}