* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    scroll-behavior: smooth;
    /* overflow: hidden;
    height: 100vh; */
    
    
}

span {
    position: absolute;
    bottom: 75px;
    left: 25px;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    z-index: 12;
    transform: skewY(2deg)
}

#container {
    width: 100%;
    height: 80vh;
    position: relative;
    top: -60px;
    /* background-color: #212529; */
    
    color: white;
    overflow: visible;
    z-index: 1;
    scroll-snap-align: start;
    
    
}

#container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    transform-origin: center;
    background-image: url("./Images/panorama.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.7); 
    border-radius: 0px;
    position: relative;
    z-index: 12;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  ::-webkit-scrollbar::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    bottom: 50px;
    background-color: green;
    z-index: 5;
  }

#aaa::before{
    content: "";
    width: 100%;
    height: 5vw;
    position: absolute;
    top: -4.9vw;
    left: 0px;
    background: white;
    z-index: 4;
    transform-origin: top left;
    transform: skewY(2deg)
}
hr {
    width: 80%;
    margin: 100px auto 0px;
}

#container::after {
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.95), rgba(0,0,0,0.6));
    z-index: 2;
}

#container img{
    width: 150px;
    position: absolute;
    z-index: 12;
    bottom: 3vw;
    right: 25px;
    z-index: 12;
    transform: skewY(2deg)
    

}

/* #description {
    width: 25%;
    height: 30%;
    position: absolute;
    top:250px;
    left: 40%;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-style: italic;
    z-index: 6;
    padding: 0px 20px;
}

#description h2{
    
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    
}

#description p{
 margin-left: 30px;
}

#description span {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
} */

/* #www {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} */

#about {
    width: 100%;
    height: auto;
    padding: 0px 30%;
    text-align: justify;
    
}

#about p::before{
    content: "“";
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about p::after{
    content: "”";
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#projekti {
    height: 350px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
}

#projekti a {
    height: 250px;
    width: 25%;
    min-width: 250px;
    margin: 0px 2%;
    border-radius: 20px 20px 0px 20px;
    color: white;
    text-decoration: none;
    position: relative;
    transition: transform linear 0.4s;

    
}

.projekat {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 20px;
    position: relative;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;

    
}

.projekat p {
    z-index: 0;
}

.projekat img{
    height: 100%;
    width: 100%;
    transition: 0.4s;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 10px;
}

.projekat p {
    font-size: 23px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: italic;
    position: relative;
}

/* .projekat::after {
    content: "EXTERIER";
    position: absolute;
    top: -40px;
    right: 20px;
    display: block;
    color: rgba(0,0,0,0.7);
    z-index: 1;
    font-family: 'Special Elite', cursive;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    transform: skewY(5deg);
} */

#contact {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    position: relative;
    scroll-snap-align: end;
}

#contactData{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactData p{
    margin: 5px;
}

#showMail{
    margin-top: 20px;
    width: 55px;
    opacity:1;
    height: 55px;
    transition: opacity 0.3s,
    height 0.5s;
    /* position: absolute; */
    /* right: 23%;
    top: 30%; */

}

#showMail:hover{
    cursor: pointer;

}

#form {
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 10px; */
    /* transform: scale(0, 1); */
    transform-origin: right;
    transition: height ease-out 0.8s;
    background-color: white;
    overflow: hidden;
    /* border: 1px solid black; */
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; /* Firefox */
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; /* Firefox */
}

#form input {
    width: 20%;
    min-width: 200px;
    height: 40px;
    border: none;
    padding-left: 20px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-bottom-right-radius: 10px;
    
    /* background: rgba(0, 0, 0, 0.5); */
    margin: 10px 0px;
    color: black;
    resize: none;
    box-shadow: 2px 2px 6px gray;
}

#form input:focus {
    outline: none;
}

#form textarea:focus {
    outline: none;
}

#form textarea {
    width: 30%;
    min-width: 250px;
    height: 150px;
    margin: 10px 0px;
    padding: 10px;
    resize: none;
    color: black;
    border: none;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* background: rgba(0, 0, 0, 0.5); */
    box-shadow: 2px 2px 6px gray;
    border-bottom-right-radius: 10px;
}

#form button {
    width: 10%;
    min-width: 100px;
    height: 40px;
    border: none;
    margin: 10px 0px;
}

#form button:hover {
    cursor: pointer;
}

#contactMedia {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contactMedia::before {
    content: "External links";
    position: absolute;
    bottom: 100%;
    left: 0px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    
    
}

#contactMedia img{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    transition: 0.4s
    
}

#contactMedia img:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #description {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(2px);
      background-color: rgba(255, 255, 255, 0.2);  
    }
    #navigation {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
         
      }
    .warning {
      display: none;
    }
  }

#navigation {
    height: 60px;
    position: fixed;
    top: 5px;
    left: 0%;
    font-size: 1.8vw;
    font-weight: 400;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: scale(1);
    transform-origin: top left;
    transition: 
        transform 0.7s,
        background-color 0.3s;
    z-index: 11;
    border-radius: 0px 15px 15px 0px;
  
}

#navigation a{
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}

.navigationElement {
    height: 50px;
    width: auto;
    position: relative;
    margin-left: 35px;
    /* margin: 0px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 0px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Special Elite', cursive;
    font-weight: 500;
    font-style: italic;
    
}

.navigationElement:hover {
    cursor: pointer;
}


#aaa{
    height: 1150px;
    padding-top: 60px;
    /* padding: 0px 20px; */
    position: relative;
    top: -60px;
    font-family: 'Raleway', sans-serif;
    color: #495057;
}



/* NOVA STRANICA */

#projectsContainer {
    width: 100%;
    height: auto;
}

#imagesPreviewContainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    left: 0px;
    z-index: 10;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

#imagesPreview{
    width: 80%;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 15%;
    overflow: visible;
    border-radius: 20px;
    z-index: 5;
}

#imagesPreview img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 
        left 0.4s,
        transform 0.3s 0.3s,
        opacity 0.7s;
    position: absolute;
}

#imagesPreviewContainer button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.showImage {
    left: 0%;
    transform: scale(1);
    opacity: 1;
}

.previouseImage {
    left: -100%;
    transform: scale(0.3);
    opacity: 0.1;
}

.nextImage {
    left: 100%;
    transform: scale(0.3);
    opacity: 1;
    
}


button:focus {
    outline: none;
}

#previousImage, #nextImage, #closePreview {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    z-index: 12;
    opacity: 1;
    
}

#previousImage img, #nextImage img, #closePreview img{
    position: unset;
    width: 20px;
    opacity: 0.8;
    transform: scale(1);
}

#previousImage:hover , #nextImage:hover, #closePreview:hover {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
}

#nextImage {
    right: 0px;
}

#previousImage {
    left: 0px;
}

#closePreview {
    top: 0px;
    right: 20px;
}


#imagesSlider {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left:0px;
}

#imagesSlider button {
    width: 15px;
    height: 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    border: none;
    margin: 0px 15px;
    transition: background-color 0.2s,
    transform 0.3s;
}

#imagesSlider button:focus {
    outline: none;
}

#imagesSlider button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.4) 
}


.projectsTypeDescription {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsTypeDescription h2 {
    z-index: 3;
    position: relative;
    color: white;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: italic;
}

.projectsTypeDescription::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.projectsTypeDescription::after {
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    z-index: 2;
}


#projectsTypeDescription_1::before {
    background-image: url("./Images/exterier1.jpg");
    background-position-y: -100px;
}

#projectsTypeDescription_2::before {
    background-image: url("./Images/enterier2.jpg");
}

#projectsTypeDescription_3::before {
    background-image: url("./Images/modeling1.jpg");
}


.projectsTypeGaleryContainer {
    width: 100%;
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.projectsTypeGalery {
    width: 30%;
    min-width: 200px;
    height: 250px;
    overflow-y: visible;
    box-shadow: 5px 5px 15px gray;
    position: relative;
    border-radius: 10px;
    margin: 70px 3%;
    transition: transform 0.3s;
}

.projectsTypeGalery img {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
}

.projectsTypeGalery img:nth-of-type(2) {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 0.5;
    transition: 
    left 0.2s 0.3s,
    bottom 0.2s 0.3s;
}

.projectsTypeGalery img:nth-of-type(3) {
    display: none;
}

.projectsTypeGalery::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}


.projectsTypeGalery::after {
    content: "";
    width: 100%;
    height: auto;
    display: block;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 10px;;
}


#projectsTypeGalery_exterier_1::after {
    content: "Banja Luka - Bosnia and Herzegovina, luxury one-storey residential building, 180m2, with garage and pool.";
}

#projectsTypeGalery_enterijer_1::after {
    content: "Banja Luka - Bosnia and Herzegovina, luxury one-storey residential building, 180m2, with garage and pool.";
}

#projectsTypeGalery_modeling_1::after {
    content: "Banja Luka - Bosnia and Herzegovina, luxury one-storey residential building, 180m2, with garage and pool.";
}



@media (max-width: 600px){
    #about {
        margin-bottom: 50px;
        padding: 0px 20%;
    }
    #projekti {
        height: auto
    }
    #projekti a {
        height: 180px;
        margin: 50px 0px;
    }
    .navigationElement {
        padding-bottom: 15px;
    }
    #container {
        overflow: hidden;
    }
    #container::before{ 
        transform: scale(1.1);
        background-position-x: -150px;
    }
    .projectsTypeGalery {
        height: 200px;
    }
    #closePreview {
        justify-content: flex-end;
        padding-right: 10px;
        right: 0px;
    }
    #imagesPreview{
        height: 200px;
        width: 90%;
        left: 5%;
        top:30%;
    }
    #previousImage, #nextImage {
        width: 50px;
        height: 50px;
        top: 40%;
    }
    #imagesSlider {
        bottom: 60px;
    }
    #imagesSlider button {
        width: 10px;
        height: 10px;
    }
    
}



@media (min-width: 600px){
    .navigationElement::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 2px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 5px;
        transition: transform 0.3s;
        transform: scale(0, 1);
        z-index: -1;
    }
    
    .navigationElement:hover::before {
        transform: scale(1, 1)
    }
    .projekat:hover img{
        opacity: 0.2;
    }
    #projekti a:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    .projectsTypeGalery:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    
    .projectsTypeGalery:hover img:nth-of-type(2){
        left: 20px;
        bottom: 10px;
    }
    .projectsTypeGalery {
        min-width: 350px;
    }
}

@media (max-width: 600px){
    .projectsTypeGalery {
        height: 120px;
        width: 200px;
    }
    .projectsTypeGalery::after {
        font-size: 12px;
    }
}