
#navigation {
    width: 40vw;
}

@media (max-width: 1350px){ 
    .navigationElement {
        padding-bottom: 10px;
     }
}


@media (max-width: 1000px){
#navigation {
    width: 100%;
    font-size: 15px;
    }
    .navigationElement {
        padding-bottom: 15px;
    }
}

@media (max-width: 600px){
    

    #projekti a::after {
        content: "";
        position: absolute;
        top: -35px;
        right: 20px;
        display: block;
        color: rgba(0,0,0,0.7);
        z-index: 1;
        font-family: 'Special Elite', cursive;
        font-weight: 500;
        font-style: italic;
        font-size: 25px;
        transform: skewY(5deg);
}
#projekti a:nth-of-type(1)::after {
    content: "EXTERIOR"
}

#projekti a:nth-of-type(2)::after {
    content: "INTERIOR"
}

#projekti a:nth-of-type(3)::after {
    content: "3D MODELING"
}
}