
#navigation {
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(0.8)
}

@media (max-width: 1350px){ 
    .navigationElement {
        padding-bottom: 10px;
     }
}

@media (max-width: 1000px){
    #navigation {
        width: 100%;
        font-size: 15px;
        }
    .navigationElement {
        margin-left: 15px;
     }
     .projectsTypeGalery img:nth-of-type(3) {
         display: flex;
        width: 24px;
        height: 18px;
        position: absolute;
        right: 10px;
        bottom: 5px;
        z-index: 2;
        opacity: 0.8;
        border-radius: 3px;
    }
    }


    


  