* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(120deg, rgb(126, 182, 214), white) ;
    min-height: 900px;
    margin: 0px;
    padding-bottom: 100px;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: #2d3436;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px 0px;
    cursor: pointer;
    text-align: center;
}

input[type="text"],[type="e-mail"], [type="password"],[type="search"]{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #2d3436;
    color: #2d3436;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0px;
    background: transparent;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    min-height: 900px;
}

.homePage{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.homePagePromotionContainer{
    width: 90%;
    max-width: 1000px;
    height: 400px;
    margin-top: 30px;
    border-radius: 20px 20px;
    box-shadow: 10px 0px 20px white, -10px 0px 20px white;
    position: relative;
    overflow: hidden;
}

.homePagePromotionContainer img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    cursor: pointer;
}

 .homePagePromotionContainer img:nth-of-type(1){
    animation: change1 10s running infinite;
}

.homePagePromotionContainer img:nth-of-type(2){
    animation: change2 10s running infinite;
}

@keyframes change1{
    0%{opacity: 1; z-index: 1;}
    40%{opacity: 1; z-index: 1;}
    50%{opacity: 0; z-index: 0;}
    90%{opacity: 0; z-index: 0;}
    100%{opacity: 1; z-index: 1;}
} 

@keyframes change2{
    0%{opacity: 0; z-index: 0;}
    40%{opacity: 0; z-index: 0;}
    50%{opacity: 1; z-index: 1;}
    90%{opacity: 1; z-index: 1;}
    100%{opacity: 0; z-index: 0;}
} 

.headerContainer {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    background-color: #2d3436;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer a{
    text-decoration: none;
    margin: 0px;
}

.webShopLogoContainer{
    width: 120px;
    height: inherit;
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webShopLogoContainer img{
    width: 100px;
    height: 80px;
    cursor: pointer;
}

.headerNavigationContainer{
    width: 400px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerNavigation a{
    text-decoration: none;
}

.headerNavigationContainer p{
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s;
    border-left: 2px solid white;
}

.headerNavigationContainer p:hover{
    transform: scale(1.2);
}

.headerIconsContainer{
    width: 160px;
    height: inherit;
    position: absolute;
    right: 0px;
}

.accountImageContainer{
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
}

.accountImageContainer:hover {
    transform: scale(1.2)
}

.accountImageContainer img{
    width: 40px;
    height: 40px;
    z-index: 1;
}

.cartImageContainer{
    width: 80px;
    height: 100px;
    position: absolute;
    right: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s
}

.cartImageContainer:hover{
    transform: scale(1.2)
}

.cartImageContainer img{
    width: 45px;
    height: 35px;
    z-index: 1;
}

#numberOfProducts{
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.homeContainer{
    width: 80%;
}

.storeContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storeNavigation{
    width:100%;
    height: 60px;
    background: #2d3436;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.storeNavigation input[type=search]{
    background: white;
    color: #2d3436;
} 

.storeSearchContainer{
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.storeSearchContainer img{
    height: 27px;
    width: 27px;
    position: absolute;
    left: 6%;
    top: 17px;
    z-index: 2;
}

.storeSearchContainer input{
    width: 90%;
    height: 30px;
    font-size: 16px;
}
.priceSlideContainer{
    width: 30%;
}

.priceSlideContainer p{
    margin: 0px;
    margin-bottom: 7px;
}

.priceSliderContainer{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceSliderContainer input[type="range"]{
    height: 1px;
}

#priceSlide {
    -webkit-appearance: none; 
    appearance: none;
    outline: none; 
    width: 80%;
    background: #d3d3d3;
} 

#priceSlide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background: url('../Photos/dolar.png');
}

.selectBrandContainer{
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectBrandContainer select{
    width: 50%;
    text-align: center;
    border-radius: 5px;
    text-align-last:center
}

.selectBrandContainer select:focus{
    outline: none;
}

.storeProducts{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.storeProducts a{
    all: unset;
    width: 30%;
    margin: 1.55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard{
    width: 100%;
    height: 500px;
    background-color: rgba(256, 256, 256, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 15px #2d3436;
}

.productCardStatus{
    text-align: center;
    height: 40px;
    width: 80px;
    background: red;
    position: absolute;
    left: 0px;
    top: 20px;
    color: white;
    font-size:25px; 
    font-weight: bold;
}

.productCardStatus p{
 margin: 7px;
}

.productCardImage{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCardImage img{
    width: 50%;
}

.productCardInfo{
    width:100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.productCardInfoName{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.productCardInfoName p:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

.productCardInfoName p:nth-of-type(2){
    font-size: 18px;
    margin: 0px;
}

.productCardInfoPrice{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productCardInfoCurrentPrice{
    font-size: 40px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.productOldPrice{
    color:red;
    width: 72px;
    font-size: 30px;
    text-align: left;
    position: absolute;
    right: 10px;
    top: -30px;
    overflow: hidden;
}

.crossedPrice{
    width: 120%;
    height: 3px;
    position: absolute;
    top: 7px;
    background-color: red;
    transform-origin: left;
    transform: rotate(12deg)
}

.productCard button{
    position: absolute;
    bottom: 10px;
}

.contactContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer button{
    height: 40px;
    z-index: 1;
}

.contactContainer h2{
    margin-bottom: -30px;
}

.contactContainer button:nth-of-type(1){
    margin-bottom: 50px;
}

.sentEmailConfirmationContainer{
    width: 400px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #2d3436;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sentEmailConfirmation 3s 1 forwards running;
}

@keyframes sentEmailConfirmation{
    0%{opacity: 1}
    90%{opacity: 1}
    100%{opacity: 0}
}

.contactGeneralInfo{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.contactGeneralInfo div{
    width: 33%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.contactGeneralInfo img{
    margin-left: 40px;
    margin-right: 10px;
}

.contactEmailFormContainer{
    width: 50%;
    height: 500px;
    flex-direction: column;
    display: none;
}

.contactEmailFormContainer input, textarea{
    margin-bottom: 20px;
}

.contactEmailFormContainer textarea{
    height: 200px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #2d3436;
    color: #2d3436;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0px;
    background: transparent;
}

.contactGeoLocation{
    margin-top: 50px;
    width: 640px;
    height: 430px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px #2d3436,  -10px -10px 20px #2d3436
}

.productProfileContainer{
    width: 80%;
}

.productProfileOwerview{
    width:100%;
    display: flex;
    }

.productProfileOwerviewImage{
    width:50%;
    margin-top: 20px;
    position: relative;
}

.productProfileOwerviewInfo{
    width: 50%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.productProfileOwerviewInfo h1{
    margin-bottom: 0px;
}

.productProfileOwerviewInfo h3{
    margin-top: -10px;
}

.productProfileOwerviewInfoGraphicContainer{
    width:98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productProfileOwerviewInfoGraphic{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.productProfileOwerviewInfoGraphic img{
    width: 25%;
}

.productProfileOwerviewInfoGraphic p{
    margin-left: 35px;
    font-size: 22px;
    font-weight: 500;
}

.productProfileOwerviewPrice{
    margin-top: 20px;
    width:300px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.productProfileOwerviewPrice h2{
    margin: 35px;
    font-size: 60px;
    color: black
}

.productProfileOwerviewOldPrice{
    position: absolute;
    right: 10px;
    top: 0px;
    overflow: hidden;
}

.productProfileOwerviewOldPrice h2{
    font-size: 45px;
    color: red;
    font-weight: unset;
    margin: 0px;
}

.addToCartButton button{
    margin: 25px;
    font-size: 22px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
}

.productProfileDetails {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

.myAccountContainer{
    width: 80%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


.myAccountNavigationContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    font-weight: unset;
}

.myAccountNavigationContainer a{
    all: unset;
    height: 70px;
    width: 100%;
    padding-right: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background: #2d3436;
    border-left: 3px solid white;
    border-radius: 0px 15px 15px 0px ;
    font-size: 13px;
    margin: 10px 0px;
    color: white;
}

.myAccountNavigationContainer h2{
    margin-left: 20px;
    font-weight: unset;
}

.myAccountNavigationContainer button{
    width: 130px;
    height: 30px;
    padding: 0px;
    margin-top: 30px;    
}


.myAccountDisplayContainer{
    width: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.myAccountDisplayContainer button{
    width: 300px; 
}

.shoppingHistoryContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shoppingHistoryContainer a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shoppingHistoryCardContainer{
    width: 80%;
    height: 130px;
    border-radius: 15px 0px;
    background: rgba(256, 256, 256, 0.5);
    margin: 15px 0px;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px #2d3436;
}

.orderNumberContainer{
    width: 100%;
    height: 50px;
    font-size: 22px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderDateContainer, .orderTotalContainer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderDateContainer{
    width: 65%;
}

.orderTotalContainer{
    width: 35%;
    font-size: 25px;
}

.shoppingHistoryOverviewContainer{
    width: 90%;
    background: rgba(256, 256, 256, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding-top: 10px;
}

.shoppingHistoryOverviewContainer h2{
    margin: 30px 0px;
}

.shoppingHistoryOverviewHeader{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
}

.shoppingHistoryOverviewHeader img{
    width: 120px;
    margin-right: 15%;
}

.shoppingHistoryOverviewProductCardContainer{
    width: 96%;
    height: 100px;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.shoppingHistoryOverviewProductCardContainer div{
   margin: 0px 20px;
   width: 20%;
}

.shoppingHistoryOverviewProductCardContainer img{
    width: 50px;
}

 .customerInfo, .orderInfo {
    width:96%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.customerInfo{
    border-bottom: 2px solid gray;
}

.customerInfo strong, .orderInfo strong{
    text-decoration: underline;
}

.deliveryInformations, .orderDate, .paymentInformations, .orderTotal{
    width:50%;
    text-align: center;
    margin: 15px 0px;
}

.deliveryInformations, .orderDate{
    border-right: 1px solid gray;
}

.orderTotal{
    font-size: 21px;
    font-weight: bold;
}


.paymentMethodsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paymentMethodsContainer button{
    margin: 25px;
    font-size: 22px;
    padding: 10px;
    width: 300px;
}

.paymentMethodCardContainer{
    width: 70%;
    height: 130px;
    border-radius: 15px 0px;
    background: rgba(256, 256, 256, 0.5);
    margin: 15px 0px;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px #2d3436;
}

.paymentMethodCardContainer img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

.paymentMethodCardContainer img:hover{
    transform: scale(1.1);
}

.paymentMethodCardContainer img:nth-of-type(1){
    width: 25px;
    left: 5px;
    bottom: 5px;
}

.paymentMethodCardContainer img:nth-of-type(2){
    right: 5px;
    top: 5px;
}

.templateContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.templateContainer input{
    margin:10px 0px;
}

.templateContainer button{
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
}

.templateContainerAdditionToAdress input{
    width: 140px;
    margin: 10px 10px
}

.addressesInformationsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressesInformationsContainer button{
    margin: 25px;
    font-size: 22px;
    padding: 10px;
    width: 300px;
}

.addressesInformationsCardContainer{
    width: 70%;
    height: 130px;
    border-radius: 15px 0px;
    background: rgba(256, 256, 256, 0.5);
    margin: 15px 0px;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px #2d3436;
}

.addressesInformationsCardContainer img{
    width: 25px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

.addressesInformationsCardContainer img:hover{
    transform: scale(1.1);
}

.addressesInformationsCardContainer img:nth-of-type(1){
    left: 5px;
    bottom: 5px;
}

.addressesInformationsCardContainer img:nth-of-type(2){
    width: 30px;
    right: 5px;
    top: 5px;
}

.confirmationContainer{
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: 2;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0,0,0,0.5)
}

.deleteTemplateConfirmation{
    margin-top: 200px;
    width: 300px;
    height: 200px;
    background: #2d3436;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    padding: 15px;
}

.deleteTemplateConfirmation button{
    width: 100px;
    height: 50px;
    margin: 40px 5px 0px;
}

.loadingContainer {
    width: 150px;
    height: 150px;
    position: sticky;
    top: 100px;
    border: 10px solid transparent;
    border-top: 10px solid white;
    border-radius: 50%;
    z-index: 3;
    margin-top: 150px;
    animation: loading 2s linear running infinite;
}

@keyframes loading {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg);}
}

.paymentConfirmation{
    width: 250px;
    height: 350px;
    text-align: center;
    position: sticky;
    top: 100px;
    z-index: 3;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background: #2d3436;
    padding-top: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.paymentConfirmation img{
    width: 130px;
    margin-top: 50px;
}

.logIn{
    width: 50%;
    background: rgba(256, 256, 256, 0.5);
    border-radius: 0px 15px;
}

.logIn input{
    background: #2d3436;
    color: white;
}

.logIn form {
    margin-top: 80px;
}

.logIn button{
    padding: 10px;
    font-size: 16px;
}

.createNewAccount{
    width: 50%;
    background: rgba(256, 256, 256, 0.5);
    border-radius: 15px 0px;
    display: flex;
    flex-direction: column;
}

.createNewAccount input{
    background: #2d3436;
    color: white;
}

.createNewAccount img{
    margin-bottom:-10px;
    margin-left: 5px;
    width:30px;
    height: 30px;
    cursor: pointer;
}

.createNewAccount button{
    padding: 10px;
    margin-top: 50px;   
    font-size: 16px;
}

.footer {
    width: 80%;
    height: 60px;
    background-color: #2d3436;
    color: white;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    bottom: -100px;
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.cartContainer{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.emptyCart{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #2d3436;
    font-size: 22px;
}

.emptyCart p{
    margin-top: 40px;
}

.cartWithItems{
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: #2d3436;
    font-size: 28px;
    padding: 10px 30px;
}

.cartWithItems h2{
    margin: 35px 0px 20px;
}

.cartWithItems button{
    margin: 0px;
    padding: 10px;
}

.cartProductCardContainer{
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    background-color: rgba(256, 256, 256, 0.5);
    border-radius: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px #2d3436;
}

.cartProductCardContainer a{
    all: unset;
    cursor: pointer;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartProductCardContainer img:hover{
    transform: scale(1.1);
}

.cartProductCardImage img{
    width: 80px;
    height: 100px;
    transition: 0.2s;
}

.cartProductCardDetails{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cartProductCardDetailsProduct{
    width: 30%;
    height: inherit;
}

.cartProductCardDetailsProduct h2{
    font-size: 30px;
}

.cartProductCardDetailsProduct h3{
    font-size: 25px;
    margin-top: -15px;
}

.cartProductCardDetailsQuantity{
    width: 30%;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
}

.cartProductCardDetailsQuantity button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 3px;
    transition: 0.2s;
}

.cartProductCardDetailsQuantity button:hover{
    transform: scale(1.1);
}

.cartProductCardDetailsDelete{
    width: 10%;
}

.cartProductCardDetailsDelete img{
    width: 20px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.cartProductCardDetailsPrice{
    width: 30%;
}

.cartProductCardDetailsPrice p{
    font-weight: bold;
    font-size: 35px;
}

.checkOutContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkOutContainer h1:nth-of-type(1){
    margin: 30px;
    text-decoration: underline;
}

.checkOutContainer h1:nth-of-type(2){
    font-size: 50px;
    margin-top: 0px;
}

.checkOutContainer h2{
    margin: 30px 0px 20px;
}

.checkOutContainer select{
    height: 40px;
    width: 100%;
    min-width: 280px;
    margin-bottom: 40px; 
    border-radius: 5px;
    background: #2d3436;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 5px 0px;
}

.checkOutContainer button{
    height: 40px;
    width: 300px;
    font-size: 18px;
}

.checkOutContainerForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.checkOutDeliveryInformations{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkOutDeliveryInformationsAdditionToAdress{
    display: flex;
    flex-direction: row;
}

.checkOutDeliveryInformationsAdditionToAdress input{
    width: 140px;
    margin: 0px 10px;
}

.checkOutPayment{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    .storeProducts a{width: 46.5%}
}

@media (max-width: 900px){

    .headerContainer {
        width: 100%;
        border-radius: 0px;
    }
    .storeContainer{
        width: 100%;
    }
    .storeProducts{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .storeProducts a{
        width: 45%;
    }
    .productCard{
        width: 90%;
        margin: 20px 0px;
    }
    .myAccountContainer{
        width: 100%;
    }
    .homePage{
        width:100%;
    }
    .homePagePromotionContainer{
        width: 100%;
        border-radius: 0px;
    }
}

@media (max-width: 800px){
    .productProfileOwerviewImage{
        width: 100%
    }
    .productProfileOwerviewInfo{
        width: 100%;
    }
    .productProfileOwerviewInfoGraphicContainer{
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .productProfileOwerview{
        flex-direction: column;
    }
    .productProfileOwerviewInfoGraphic{
        width: 90%;
        padding-left: 18%;
    }
    .productProfileOwerviewInfoGraphic img{
        width: 50px;
    }
    .checkOutContainerForm {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .footer {
        width: 100%;
        border-radius: 0px;
    }
    .contactContainer{
        width: 100%;
    }
    
}

@media (max-width: 700px){
    .webShopLogoContainer{
        display: none;
    }
    .headerContainer {
        justify-content: flex-start;
    } 
    .logIn{
        width: 100%;
        border-radius: 0px;
    }
    .createNewAccount{
        width: 100%;
    }
    .createNewAccount input{
        width: 90%;
        margin-bottom: 10px;
    }
    .cartContainer{
        width: 100%;
        align-items: center;
    }
    .cartProductCardContainer{
        width: 90%;
        flex-direction: column;
        height: auto;
        padding-top: 20px;
    }
    .cartProductCardDetails{  
        width: 100%;
    }
    .cartProductCardDetailsProduct{
        width: 30%;
        height: inherit;
    }
    .cartProductCardDetailsQuantity{
        width: 30%;  
    }
    .contactGeoLocation{
        width: 90%;
    }
    .contactGeoLocation iframe{
        width: 100%;
    }
    .contactGeneralInfo{
        width: 70%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        margin-bottom: 50px;
    }
    .contactGeneralInfo div{
        margin: 10px 0px 10px 2%;
        width: 90%;
        justify-content: flex-start;
    }
    .contactEmailFormContainer{
        width: 100%;
    }
    .shoppingHistoryOverviewProductCardContainer img{
        display: none;
    } 
    .shoppingHistoryOverviewProductCardContainer div{
        margin: 2%;
    } 
}

@media (max-width: 600px){
    
    .cart{width: 100%;}
    .headerNavigation {flex-direction: column;}
    .storeProducts a{width: 90%}
    .headerContainer {
        flex-direction: column;
        height: 170px;
    }
    .headerIconsContainer{
        position: relative;
        margin-top: -30px;
    }
    .priceSlideContainer{
        display: none;
    }
    .storeSearchContainer{
        width: 50%;
    }
    .selectBrandContainer{
        width: 50%;
    }
    .headerNavigationContainer p{
        border-left: none;
        text-decoration: underline;
        margin-left: 0px;
    }
    .myAccountContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    .myAccountNavigationContainer{
        width:100%;
        margin: 0px;
    }
    .myAccountNavigationContainer a{
        width: 100%;
        height: 40px;
        border-radius: 0px;
        margin: 3px 0px;
        justify-content: center;
    }
    .myAccountNavigationContainer button{
        margin: 30px 0px;
    }
    .myAccountDisplayContainer{
        width: 100%;
    }
    .shoppingHistoryCardContainer, .paymentMethodCardContainer, .addressesInformationsCardContainer {
        width: 90%;
    }
    .deleteTemplateConfirmation{
        position: sticky;
        top: 10px;
    }
    .shoppingHistoryOverviewContainer{
        font-size: 14px;
    }
    .homePagePromotionContainer{
        height: 300px
    }
    .productProfileOwerviewImage img{
        width: 250px;
    }
}

@media (max-width: 450px){
    .cartProductCardDetails{  
        flex-direction: column;
        height: auto;
    }
    .cartProductCardDetailsQuantity{
        margin-bottom: 40px; 
        width: 90%;
    }
    .cartProductCardDetailsProduct{
        width: 90%;
    }
    .cartProductCardDetailsPrice{
        height: 90px;
    }
    .homePagePromotionContainer{
        height: 200px
    }
    .sentEmailConfirmationContainer{
        width: 300px;
    }
}
